.container {
  background: #222;
  height: 90%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.result-bar {
  height: 20%;
  background-color: #222;
  border-radius: 0.5rem;
  margin: 0.2rem;
  /* opacity: 0.4; */
  position: relative;
  border: 1px solid #667;
}

.result {
  position: absolute;
  color: white;
  border-radius: 0.5rem;
  height: 50%;
  width: auto;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  margin: 1rem;
  text-align: end;
  font-weight: 500;
  /* overflow: scroll; */
}
#last-eval {
  position: absolute;
  color: white;
  border-radius: 0.5rem;
  height: 50%;
  width: auto;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  margin: 1rem;
  text-align: end;
  font-weight: 500;
  /* overflow: scroll; */
}

/* What to do when result text overflow */

.error {
  text-align: center;
  background-color: rgb(202, 108, 108);
  color: white;
}

.button-container {
  background-color: #222;
  height: 80%;
  border: 1px solid #667;
  border-radius: 0.5rem;
  margin: 0.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.2rem;
}

.button {
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  background: #495057;
  color: white;
  font-size: 2rem;
  border-radius: 4px;
  margin: 0.2rem;
  text-align: center;
  font-weight: 500;
  flex: 0 0 120px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}

.button:active {
  background: #adb5bd;
  color: #222;
}

.button:nth-child(-n + 3):active,
.button:nth-child(4n):active {
  background: #dee2e6;
}

.button:nth-last-child(2) {
  background: #62a3d8;
}
.button:nth-last-child(2):active {
  background: #a0a5aa;
}

@media (min-width: 660px) {
  .button:hover,
  .button:active {
    background: #adb5bd;
    color: #222;
  }

  .button:nth-child(-n + 3),
  .button:nth-child(4n) {
    background: #adb5bd;
  }
  .button:nth-child(-n + 3):hover,
  .button:nth-child(4n):hover,
  .button:nth-child(-n + 3):active,
  .button:nth-child(4n):active {
    background: #dee2e6;
  }

  .button:nth-last-child(2) {
    background: #62a3d8;
  }
  .button:nth-last-child(2):hover,
  .button:nth-last-child(2):active {
    background: #a0a5aa;
  }
}
